@use 'styles/mixins';

.card{
  position: relative;
  //width: min(400px, 100%);
  width:100%;
  height: auto;
  //flex-basis: 33%;
  margin: 1em;
  padding: 5em 0 5em;
  border: 1px solid mixins.$card-decoration;
  border-radius: 5px;
  &__links{
    position: inherit;
    @include mixins.add-link;
    z-index: 30;
  }
  &:after{
    position: absolute;
    content:"";
    display: block;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: mixins.$background-color;
  }
  @media screen and (max-width: 960px){
    width:min(320px,100%);
  }
}