@use '../../../styles/mixins';
.service{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: mixins.$default-height;
  &__title{
    @include mixins.services
  }
  @media screen and (max-width: 680px){
    margin: 10px auto;
    justify-content: space-between;
    width: max(300px,80%);
    height: mixins.$default-mobile-height;
  }
}