@use '../../styles/mixins';

.services{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  @media screen and (max-width : 680px){
    flex-direction: column;
  }
}
