@use "styles/mixins";


.btn{
  position: relative;
  display:none;
  @media screen and (max-width: 680px){
    top:25%;
    left:25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}